* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    color: #565D47;
    font-family: 'Lato';
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Dancing Script', sans-serif;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    background-color: #EAAC9D;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #EAAC9D;
    border-color: #EAAC9D;;
}

.logo {
    max-width: 100px;
    font-family: 'Dancing Script',
        sans-serif;
    color: #FFD700;
    font-size: 50px;
}

.rounded-logo {
    border-radius: 50%;
    /* Makes the image round */
    width: 100px;
    /* Set the width as needed */
    height: 100px;
    /* Set the height as needed */
    /* Optional styles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a shadow for depth */
}

.gold-text{
    /* Using a linear gradient for the text color */
    background: linear-gradient(45deg, #ffd700, #d4af37);
    -webkit-background-clip: text;
    /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
    /* Hides the regular text color */
    
    /* Optional: Adding a text-shadow for better effect */
    text-shadow: 1px 1px 3px rgba(212, 175, 55, 0.5);
}

.full-viewport {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 172, 157, 0.5);
    /* Pink color with 50% opacity */
    z-index: 1;
    /* Adjust the stacking order */
}
    
.image-container {
    position: relative;
    z-index: 0;
    /* Ensure the image is behind the overlay */
}

.content-container {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Adjust the left position as needed */
    transform: translateY(-50%);
    z-index: 2;
    /* Place the content above the overlay */
    color: white;
    /* Text color */
}
    
.content-container h1,
.content-container p {
    margin-bottom: 20px;
    /* Adjust spacing between elements */
}
    
/* Additional styles for buttons */
.btn-custom {
    background-color: #B49C73;
    /* Custom button color */
    color: white;
    /* Button text color */
}

/* Footer */

footer {
    text-decoration: none;
}

.about_link {
    cursor: pointer;
    color: white;
}

.about_link:hover {
    color: black;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: inherit;
    text-decoration: none;
}

.social-media>li {
    display: inline;
}

.social-media i {
    margin: 1%;
    padding: 5%;
    color: #fff;
    font-size: 200%;
}

.border {
    border: 2px solid;
    padding: 5px 10px;
}

/* Products */
.card {
    margin-bottom: 20px;
    /* Adjust margin-bottom as needed */
}

.add-to-cart-btn {
    margin: auto;
    display: block;
}